<footer class="footerlay">
    <div class="footercopy pb10">
        <p>
            &copy 2012 CLAESSEN PUMPS LIMITED
        </p>
        <p>
            ALL RIGHTS RESERVED
        </p>
    </div>
    <div class="footercontact pb10">
        <p><strong>PHONE</strong><a href="tel:705-431-8585"> 705-431-8585</a></p>
        <p id="tollfree"><strong>TOLL FREE</strong><a href="tel:1-888-249-7084"> 1-888-249-7084</a></p>
        <p><strong>FAX</strong> 705-431-2772</p>
    </div>
    <div class="terms">
        <p>
            <a class="red" href="terms.html">
                TERMS OF USE
            </a>
        </p>
    </div>
</footer>