
<nav>
    <div class="navsplit">
        <div class="mobilenav">
            <a class="justcenter" href="/">
                <img id="logo" src=" {{ url_for('static', filename='imgs/Claessen_Pumps_logo_200x57.svg') }}" alt="Claessen Pumps Logo">
                <img id="new_logo" src=" {{ url_for('static', filename='imgs/Claessen_Logo.png') }}" alt="">
            </a>
            <button id="menupop">
                <img src="{{ url_for('static', filename='imgs/burger.svg') }}" alt="Menu Button">
            </button>
        </div>
        <div class="menu-links pb10">
            <div id="brand-dropdown">
                <a href="{{ url_for('brands') }}">
                    Brands
                </a>
                <div id="brand-subs">
                    <a href="/product/audex">Audex</a>
                    <!-- <a href="/product/slurrypro">Slurrypro</a> -->
                    <a href="/product/grindex">Grindex</a>
                    <!-- <a href="/product/gromatex">Gromatex</a> -->
                    <!-- <a href="/product/envirohub">Envirohub</a> -->
                </div>
            </div>    
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>
    </div>
</nav>
