{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}
    <section>

        <!-- Top Section -->
        
        <section class="pageformat">
            <h3 class="red pb10">
                Contact Us
            </h3>

            <p>
                Should you require any further information, please do not hesitate to contact us.
            </p>
            <br>

            <p class="txt18">
                <strong class="txtkg6">
                    Claessen Pumps Limited
                </strong>
            </p>
            <p>
                <strong class="txtkg6">
                    2249 Bowman Street, Innisfil, ON, L9S 3Z5
                </strong>
            </p>
            <br>

            <div class="officeformat">
                <p>
                    <strong>
                        Office:
                    </strong>
                    <a class="CTAs" href="tel:705-310-8585">705-431-8585</a>
                </p>
                <p>
                    <strong>
                        Toll-Free:
                    </strong>
                    <a class="CTAs" href="tel:1-888-249-7084">1-888-249-7084</a>
                </p>
                <p class="pb10">
                    <strong>
                        Fax:
                    </strong>
                    <a class="CTAs" href="{{ url_for('contact') }}">705-431-2772</a>
                </p>
                <br>
            </div>

            <div>
                <p id="contact500">
                    If you know who you would like to reach:
                </p>
            </div>
            
        
        </section>    

            <div class="contactgrid">
                <div class="contactcard">
                    <p class="title CTAs">
                        <strong>
                            For Sales
                        </strong>
                    </p>

                    <div class="salesformat pb20">
                        <p class="textcenter">
                            <strong>
                                Wyatt Brooks
                            </strong>
                        </p>
                        <p class="pb10 flextxtC">
                            Technical Sales Representative
                        </p>
                        <p>
                            <strong>
                                Phone:
                            </strong>
                            <a class="CTAs" href="tel:705-791-6478">
                                705-791-6478
                            </a>
                        </p>
                        <p class="pb10">
                            <strong>
                                Email:
                            </strong> 
                            <a class="CTAs" href="mailto:wb@claessenpumps.com">
                                wb@claessenpumps.com
                            </a>
                        </p>
                    </div>
                </div>
            
                <div class="contactcard">
                    <p class="title CTAs">
                        <strong>
                            For Service
                        </strong>
                    </p>

                    <div class="salesformat pb20">
                        <p class="textcenter">
                            <strong>
                                Daniel Blandford
                            </strong>
                        </p>
                        <p class="pb10 flextxtC">
                            General Manager
                        </p>
                        <p>
                            <strong>
                                Phone:
                            </strong>
                            <a class="CTAs" href="tel:705-431-8585">
                                705-431-8585
                            </a>
                        </p>  
                        <p class="pb10">
                            <strong>
                                Email:
                            </strong> 
                            <a class="CTAs" href="mailto:djb@claessenpumps.com">
                                djb@claessenpumps.com
                            </a>
                        </p>  
                    </div>
                </div>   
            
                <div class="contactcard">
                    <p class="title CTAs">
                        <strong>
                            For Billing
                        </strong>
                    </p>

                    <div class="salesformat pb20">
                        <p class="textcenter">
                            <strong>
                                Christine Blandford
                            </strong>
                        </p>
                        <p class="pb10 flextxtC">
                            Office Manager
                        </p>
                        <p>
                            <strong>
                                Phone:
                            </strong>
                            <a class="CTAs" href="tel:705-431-8585">
                                705-431-8585
                            </a>
                        </p>  
                        <p>
                            <strong>
                                Email:
                            </strong> 
                            <a class="CTAs" href="mailto:cab@claessenpumps.com">
                                cab@claessenpumps.com
                            </a>
                        </p>  
                    </div>    
                </div> 
            
            </div>

    </section>

{% endblock %}