{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}

    <section class="pageformat">
        <h3 class="red pb10">
            Envirohub
        </h3>
        <p>
            For more information on the Envirohub product line, please review the product <a class='red nounder' href="{{ url_for('static', filename='imgs/brochure/Envirohub_Brochure.pdf') }}" download="EnviroHub_Brochure">brochure</a> below. If you have additional questions, feel free to contact us at your earliest convenience.
        </p>
        <div class="handslay">
            <img src="{{ url_for('static', filename='imgs/brochure_cover/EnviroHub_Brochure_Cover.png') }}" alt="Front page of handbook">
            <a href="{{ url_for('static', filename='imgs/brochure/Envirohub_Brochure.pdf') }}" download="EnviroHub_Brochure">
                <button id="GPG" type="button">
                    Envirohub Brochure
                </button>
            </a>
        </div>
    </section>

{% endblock %}

