{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}
    <section>
        
        <!-- Index Top Banner -->
        <div class="homebanner">
            <div class="scroll-banner-1">
                <!-- <img class="audexPIC" src="{{ url_for('static', filename='imgs/audex.png') }}" alt="audex logo"> -->
                <img class="audexPIC" src="{{ url_for('static', filename='imgs/home.jpg') }}" alt="grindex pump">
            </div>
            <div class="scroll-banner-2">
                <div>
                    <h3>
                        New look, new lines, new solutions.
                    </h3>
                </div>
            </div>
            <div class="scroll-banner-3">
                <div class="container3">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/industry1.jpg') }}" alt="aggregates &quary picture">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/bannerAudex.jpg') }}" alt="Audex submersible pump dewatering">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/industry2.jpg') }}" alt="Gromatex durable wear fittings">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/bannerSlurrypro.jpg') }}" alt="Slurrypro rubber lined process pumps">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/industry3.jpg') }}" alt="Wastewater pumping solutions">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/bannerAudex2.jpg') }}" alt="">
                    <img class='bannerSlideShow' src="{{ url_for('static', filename='imgs/industry4.jpg') }}" alt="Mine sump dewatering pumps">
                </div>
            </div>
        </div>

        <!-- Index Content -->
        <div class="pageformat">
            <h3 class="txtkg6">
                <strong>
                    Welcome to
                </strong> 
            </h3>
            <div class="CPL"></div> 
            <div id="cpl"></div>
            <p class="pb10">
                Claessen Pumps has always maintained the highest level of quality and integrity in the pumping industry.
            </p>
            <p class="pb10">
                We are a full service facility, ready to meet your needs in sales, service and rentals for the industrial, municipal, mining, construction and commercial markets.
            </p>
            <p class="pb10">
                Claessen Pumps has been supplying Grindex electrical submersible pumps for over 44 years, since 1976.
            </p>
            <p>
                Introducing new lines & new solutions <!-- style link welcome too -->
            </p>
            <!-- Add new brands -->
            <div class="grindexshrimp"></div>
            <div id="brandbanner">
                <div>
                    <img src="{{ url_for('static', filename='imgs/audex.png') }}" alt="Audex indsutrial submersible pumps">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='imgs/slurrypro.png') }}" alt="Slurrypro lined Pumps">
                </div>
                <div>
                    <img id='shrimpy' src="{{ url_for('static', filename='imgs/grindex-logo2.png') }}" alt="">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='imgs/gromatex.png') }}" alt="Gromatex lined fittings">
                </div>
                <div>
                    <img src="{{ url_for('static', filename='imgs/envirohubS.png') }}" alt="Envirohub smart monitoring">
                </div>
            </div>
            <!-- Left justify shrimp -->
        </div>
    </section>

{% endblock %}