{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}
    <section>
        
        <!-- Index Top Banner -->
        <div class="homebanner">
            <div class="scroll-banner-1">
                <img class="audexPIC" src="{{ url_for('static', filename='imgs/audex.png') }}" alt="">
            </div>
            <div class="scroll-banner-2">
                <h3>
                    New look, new lines, better service
                </h3>
            </div>
            <div class="scroll-banner-3">
                <h3>
                    third slide
                </h3>
            </div>
        </div>

        <!-- Index Content -->
        <div class="pageformat">
            <h3 class="mb15 txtkg6">
                <strong>
                    Welcome to
                </strong> 
            </h3>
            <div class="CPL"></div> 
            <div id="cpl"></div>
            <p class="pb10">
                Claessen Pumps has always maintained the highest level of quality and integrity in the pumping industry.
            </p>
            <p class="pb10">
                We are a full service facility, ready to meet your needs in sales, service and rentals for the industrial, municipal, mining, construction and commercial markets.
            </p>
            <p class="pb10">
                Claessen Pumps has been supplying Grindex electrical submersible industrial pumps for over 40 years, since 1976.
            </p>
            <p>
                Introducing new lines & new solutions
            </p>
            <!-- Add new brands -->
            <a href="pumps.html">
                <div class="grindexshrimp"></div>
            </a>
            <!-- Left justify shrimp -->
        </div>
    </section>

{% endblock %}