{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}

    <section class="pageformat">
        <h3 class="red pb10">
            SlurryPro  
        </h3>
        <p>
            For more information on the SlurryPro product line, please review the product <a class="red nounder" href="{{ pdfPath }}" download="SlurryPro_Brochure">brochure</a> below. If you have additional questions, feel free to contact us at your earliest convenience.
        </p>
        <div id='my_pdf_viewer' class="handslay" data-target="{{ pdfPath }}">
            <div id="canvas_container">
                <canvas id="pdf_renderer"></canvas>
            </div>
        </div>
        <div id="navigation_controls">
            <button id="go_previous">Previous</button>
            <input id="current_page" value="1" type="number"/>
            <button id="go_next">Next</button>
        </div>
        <div>
            <a href="{{ pdfPath }}" download="SlurryPro_Brochure">
                <button id="GPG" type="button">
                    SlurryPro Brochure
                </button>
            </a>
        </div>
    </section>

{% endblock %}