{% extends "base.html" %}

{% block title %}
    Claessen Pumps Ontario
{% endblock %}

{% block content %}
    	
<section class="pageformat">
    <h4 class="red pb10">Terms Of Use</h4>
    <p class="pb10">
        By accessing or using this site, you agree to be bound by the following terms set out below. Claessen Pumps Limited may change the terms of use from time to time. Your continued use of the site constitutes an acceptance of the changes.
    </p>
    <p class="pb10">
        All copyright, trade marks, design rights, patents and other intellectual property rights (registered and unregistered) pertaining to Claessen Pumps Limited and Grindex are owned and copyrighted by the respective companies.
    </p>
    <p class="pb10">
        You may not copy, reproduce, republish or otherwise use the content in any way except for your own personal, non-commercial use. Any other use of claessenpumps.com content requires prior written permission.
    </p>
    <p>
        The names, images and logotypes identifying Claessen Pumps Limited and its products are subject to trade marks, copyright and design rights held by Claessen Pumps Limited.
    </p>
</section>

{% endblock %}